accountname => "Nome Organização"
cf_884 => "CNPJ"
email1 => "Email"
email2 => "Email Alternativo"
phone => "Telefone"
otherphone => "Telefone Alternativo"
website => "Website"
industry => "Atividade"
annual_revenue => "Receita Anual"
employees => "Empregados"
accounttype => "Tipo"
account_id => "Membro de"
emailoptout => "Recusa Email"
notify_owner => "Notificar Proprietário"
assigned_user_id => "Responsável"
cf_1241 => "Status Telefone 1"
cf_1243 => "Origem Telefone 1"
cf_1245 => "Telefone 1"
bill_code => "CEP Faturamento"
ship_code => "CEP Entrega"
bill_street => "Endereço Faturamento"
ship_street => "Endereço Entrega"
bill_pobox => "Bairro Faturamento"
ship_pobox => "Bairro Entrega"
bill_city => "Cidade Faturamento"
ship_city => "Cidade Entrega"
bill_state => "Estado Faturamento"
ship_state => "Estado Entrega"
bill_country => "País Faturamento"
ship_country => "País Entrega"
description => "Descrição"
completed_form_1 => "Form Preenchido - 1"
filling_date_1 => "Data do Preenchimento - 1"
form_url_1 => "URL do Formulário - 1"